.bg-white {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.wallpaperscraft.com/image/single/white_background_dents_bumps_texture_69592_1920x1200.jpg');
}
.table {
    border: rgb(1, 1, 1) 3px solid;
  }